<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon2.ico">
    <link rel="stylesheet" href="/static/styles.css">

    {% block head %}
    <title>{% block title %}Aplicación de Motos{% endblock %}</title>
    {% endblock %}
</head>
<body>

    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/motos">Motos</a>
        <a href="/motos/crear">Añadir moto</a>
    </nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <p class="footer">2026 - Proyecto FastAPI - Thomas Rodríguez Nind</p>

</body>
</html>
